:root {
  --white: #ffffff;
  --greenish: #007d73;
  --red: red;
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow1: rgba(0, 0, 0, 0.19);
  --gray: rgb(210, 210, 210);
  --hardgray: rgb(91, 91, 91);
  --bluish: rgb(13, 73, 108);
  --aqua: #00cac4;
  --pink: #ff768b;
  
}
