@import url("./default.css");


.status__card {
  box-shadow: 0 1px 1px 0 var(--shadow), 0 6px 20px 0 var(--shadow1);
  border-radius: 3px;
  background-color: var(--white);

}

.status__no {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}
.status__info {
  text-align: center;
  font-size: small;
}

.status__icon {
  margin: 5px 0px 0px 5px;
  color: var(--aqua);
}

.denger {
  background-color: var(--pink);
  color: var(--white);
}

.denger__icon {
  color: var(--red);
}
