@import url("./components/default.css");

.app {
  background-color: var(--white);
}
.app__content {
  margin: 2% 5%;
}

.app__status__card {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 15% 15% 15% 15% 15%;
}

.app__information {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 75% 20%;
}

.app__team {
  box-shadow: 0 1px 1px 0 var(--shadow), 0 6px 20px 0 var(--shadow1);
}

.app_graph__card {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 55% 40%;
  height: 300px;
}

.app__info__card {
  margin-top: 20px;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 23% 23% 23% 23%;
}

.app__info__left {
  display: grid;
  grid-template-rows: 25% 75%;
}
